<div class="row my-5" *ngIf="total; else notUpdate">
  <div class="col-xl-4 col-md-6">
    <div class="card bg-primary border-primary text-white">
      <!-- All Case -->
      <div class="row no-gutters">
          <div class="card-body">
            <h5 class="card-title">ยืนยันแล้ว</h5>
            <p class="card-text">
              <span> {{ total.total_case }} ราย </span>
              <span class="font-weight-bolder">
                <span *ngIf="total.new_case >= 0; else NewConfirmed">
                  วันนี้เพิ่มขึ้น
                </span>
                <ng-template #NewConfirmed>
                  วันนี้ลดลง
                </ng-template>
                {{ total.new_case }}
              </span>
            </p>
          </div>
      </div>
    </div>
  </div>
  <!-- Death -->
  <div class="col-xl-4 col-md-6">
    <div class="card bg-danger border-danger text-white">
      <div class="row no-gutters">
          <div class="card-body">
            <h5 class="card-title">ผู้เสียชีวิต</h5>
            <p class="card-text">
              <span>{{ total.total_death }} ราย </span>
              <span class="font-weight-bolder">
                <span *ngIf="total.new_death >= 0; else NewDeaths">
                  วันนี้เพิ่มขึ้น
                </span>
                <ng-template #NewDeaths>
                  วันนี้ลดลง
                </ng-template>
                {{ total.new_death }}
              </span>
            </p>
          </div>
      </div>
    </div>
  </div>
  <!-- Recoveres -->
  <div class="col-xl-4 col-md-6">
    <div class="card bg-success border-success text-white">
      <div class="row no-gutters">
          <div class="card-body">
            <h5 class="card-title">รักษาหายแล้ว</h5>
            <p class="card-text">
              <span> {{ total.total_recovered }} ราย </span>
              <span class="font-weight-bolder">
                <span *ngIf="total.new_recovered >= 0; else recoveres">
                  วันนี้เพิ่มขึ้น
                </span>
                <ng-template #recoveres>
                  วันนี้ลดลง
                </ng-template>
                {{ total.new_recovered }}
              </span>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notUpdate>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated text-center" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      Data is not updated
    </div>
  </div>
</ng-template>
